  <!-- <header>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header"></div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
            <li class="active"><a href="#">LOGO</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-filter"></span></a></li
          </ul>
          <!-- <ul class="nav navbar-nav navbar-right"> -->
            <!-- <li><a href="/login">Login</li>
            <li><a href="/register">Create New Account</li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
</header> -->


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">GoodBuy</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#"> <span class="glyphicon glyphicon-heart"></span>     My Favorites</a></li>
          <li><a href="#"> <span class="glyphicon glyphicon-tag"></span>     My Listings </a></li>
          <li><a href="#"><span class="glyphicon glyphicon-envelope"></span>     My Inbox</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-filter"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#"> Low to High</a></li>
          <li><a href="#"> High to Low</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>     Login</a></li>
      <li><a href="/"><span class="glyphicon glyphicon-log-out"></span>     Logout</a></li>
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span>     Sign Up</a></li>
    </ul>

  </div>
</nav>

