.navbar-custom {
  background-color: #78bfd1ad;
  height: 80px;
  padding-top: 10px;

}
.navbar-default .navbar-brand {
  font-family: 'Lilita One', cursive;
  font-size: 30px;
  color: black;
}


li.navbar-brand.welcome {
font-size: 22px;
font-family: 'Baloo Bhaina 2', cursive;
}

a.create{
  border: solid 2px;
  border-radius: 10px;
  font-family: 'Baloo Bhaina 2', cursive;
}

a.create#font-create{
  font-family: 'Baloo Bhaina 2', cursive;
}
