.container {
  display: flex;
  flex-direction: column;
}

.newListing {
  display: flex;
  justify-content: center;
  font-family: 'Lilita One', cursive;
}

#new-listing-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-listing-form__field-wrapper {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Baloo Bhaina 2', cursive;
}


#new-listing-form__title, #listing-form__description, #new-listing-form__cost, #new-listing-form__image {
  border-radius: 15px;
  border: 2px solid #78bfd1ad;
  padding: 2%;
  padding-left: 4%
}

#createButton {
  background-color: #5092c7;
    border-radius: 10px;
    color: white;
    padding: 4px;
}

