.listing-button-heart{
  background-color: white;
  border: none;
  margin:10px;
  float:left;
  font-size: x-large;
  color:red;
 }

 .fav-header {
   display:flex;
   justify-content:center;
   margin-bottom: 50px;
   margin-top: 32px;
   font-family:'Baloo Bhaina 2', cursive;
   font-size: 40px;

 }

.row {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    justify-content: center;
}


.panel-heading.listing-header {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #5092C6;
  font-size: 22px;
  font-family: 'Baloo Bhaina 2', cursive;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 600;
}


.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: medium;
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
}

#itemPrice {
  font-size: xx-large;
  border-bottom: solid 1px steelblue;
  border-top: solid 1px steelblue;
  background-color: lightgray
}
