.listing-button-heart{
  background-color: white;
  border: none;
  margin:10px;
  float:left;
  font-size: x-large;
  color:red;
 }

 .fav-header {
   display:flex;
   justify-content:center;
   margin-bottom: 50px;
   margin-top: 32px;

 }

.row {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    justify-content: center;
}
