div.container {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #181717 ;
}

.listing-button-heart{
 background-color: white;
 border: none;
 margin:10px;
 float:left;
 font-size: x-large;
}

.listing-button-message{
  background-color: white;
  border: none;
  margin:10px;
  float:left;
  font-size: x-large;
  float:right;
  font-size: x-large;
 }

 .container{
  margin-bottom: 32px;
 }


 .panel-footer{
  border-top: none;
  display:flex;
  justify-content: center;
 }

 .panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #337ab7;
  color: white;
}
