main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.loginForm {
  width: 30%;
}

.loginFormText {
  font-family: 'Baloo Bhaina 2', cursive;
}

.headingText {
  font-family: 'Lilita One', cursive;

}
